* {
    margin: 0;
}

@font-face {
    font-family: 'Ugly Dave';
    src: url('/fonts/Ugly-Dave-Regular.woff2') format('woff2'),
    url('/fonts/Ugly-Dave-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

.container {
    display: flex;
    position: relative;
    background-color: red;
    width: 1000px;
    height: 644.667px;
}

.blank-tracklist {
    position: relative;
    width: 100%;
}

.tracklist {
    width: 100%;
    height: 100%;
    padding: 22px 40px 35px 40px;
    box-sizing: border-box;
    position: absolute;
    box-sizing: border-box;
    background-color: green;
    background-clip: content-box;
    opacity: 50%;
}